<!DOCTYPE html>
<html>

<head>
    <title>Sub HTML</title>
    <link rel="stylesheet" href="./css/stylesheet04.css">
    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
</head>

<body>
    <div class="text">
        <div class="line">
            <h1>Welcome to my <a href="/" class="white">Homepage</a></h1>
            <p>Use this menu to select different Stylesheets</p>
        </div>
        <div class=list>
            <ul>
                <li><a href="/stylesheet01">Stylesheet 1</a></li>
                <li><a href="/stylesheet02">Stylesheet 2</a></li>
                <li><a href="/stylesheet03">Stylesheet 3</a></li>
                <li><a href="/stylesheet04">Stylesheet 4</a></li>
                <li><a href="/stylesheetNo">No Stylesheet</a></li>
            </ul>
        </div>
        <div class="side-bar">
            <a href="">
                <h3 class="white">Side-Bar</h3>
                <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at dictum magna. Proin ac
                    faucibus
                    nibh, vitae
                    egestas
                    felis. Nullam vehicula volutpat nunc. Nulla imperdiet lectus vel dolor eleifend volutpat. Integer
                    dignissim
                    leo
                    dui, in
                    auctor sem euismod in. Nulla id rhoncus odio, non luctus tellus. Nulla purus nisi, commodo eget
                    porttitor
                    vitae,
                    cursus
                    vel lorem.</p>
            </a>
        </div>
        <h1>Same page different stylesheets</h1>
        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel mi lobortis, bibendum
            diam
            at,
            volutpat
            tellus. Donec vel purus sit amet nisi sagittis facilisis nec nec tellus. Maecenas tincidunt sagittis
            nisl.
            Sed
            vitae feugiat nisl. Vivamus ac porta tellus, et tincidunt lectus. Sed lobortis mi turpis, in lobortis
            nibh
            posuere at. Suspendisse ornare mauris ac est dapibus, et placerat leo vehicula. Nulla viverra metus
            facilisis,
            finibus nulla sit amet, mattis eros. Donec commodo ex sit amet urna pretium interdum. Curabitur lobortis
            porta
            lorem non tempor. Duis eget porta libero.

            Pellentesque ut fermentum sapien. Maecenas id erat pulvinar lectus tincidunt interdum ut interdum augue.
            Maecenas scelerisque nunc ac leo tincidunt, eu rutrum ligula convallis. Ut nec turpis nibh. Proin quis
            ante
            in
            enim hendrerit accumsan in sed elit. Suspendisse dolor nisi, placerat ut lorem quis, feugiat euismod
            nisi.
            Pellentesque sed orci ac mi dapibus aliquet id tempus orci. Praesent libero velit, dapibus tincidunt
            ante
            id,
            mollis fringilla odio. Praesent vel metus commodo orci tincidunt cursus. Proin tempus vel tellus at
            hendrerit.
            Donec interdum justo ipsum, vitae maximus velit viverra malesuada. Integer et vulputate neque. Maecenas
            scelerisque, mauris non consequat sodales, odio nisi dignissim lorem, ac bibendum dui massa vel velit.
            Aenean
            consectetur lectus et orci efficitur lobortis.<a href="/stylesheet01">Stylesheet 1</a>,
            <a href="/stylesheet02">Stylesheet 2</a>,
            <a href="/stylesheet03">Stylesheet 3</a>,
            <a href="/stylesheet04">Stylesheet 4</a>,
            <a href="/stylesheetNo">No Stylesheet</a>
        </p>
    </div>


    <h2>Table</h2>
    <table class="customers">
        <tbody>
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
            </tr>
            <tr class="alt">
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
            </tr>
            <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
            </tr>
            <tr class="alt">
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
            </tr>
            <tr class="alt">
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
            </tr>
            <tr class="alt">
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
            </tr>
        </tbody>
    </table>

</body>

</html>